@model Dictionary<string, List<portfolio.Models.Project>>

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <nav id="sidebar">
                <ul class="list-unstyled">
                    @foreach (var type in Model.Keys)
                    {
                        <li><a href="#@type.Replace(" ", "")">@type</a></li>
                    }
                </ul>
            </nav>
        </div>
        <div class="col-md-9">
            @foreach (var typeGroup in Model)
            {
                <h2 id="@typeGroup.Key.Replace(" ", "")">@typeGroup.Key</h2>
                @foreach (var project in typeGroup.Value)
                {
                    <div class="project">
                        <h3>@project.Name</h3>
                        <p>@project.Description</p>
                        @if (project.Images != null && project.Images.Count > 0)
                        {
                            <div class="project-images">
                                @foreach (var image in project.Images)
                                {
                                    <img src="data:image;base64,@Convert.ToBase64String(image)" alt="Project Image" width="200" />
                                }
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(project.URL))
                        {
                            <p><a href="@project.URL" target="_blank">View Project</a></p>
                        }
                    </div>
                }
            }
        </div>
    </div>
</div>
