@model Dictionary<string, List<portfolio.Models.Project>>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav id="sidebar" class="col-md-3 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <h5 class="sidebar-heading">Navigation</h5>
                <ul class="nav flex-column">
                    @foreach (var type in Model.Keys)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="#@type.Replace(" ", "")">@type</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>

        <!-- Main content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            @foreach (var typeGroup in Model)
            {
                <section id="@typeGroup.Key.Replace(" ", "")">
                    <h2 class="mt-4">@typeGroup.Key</h2>
                    @foreach (var project in typeGroup.Value)
                    {
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <div class="m-0 font-weight-bold">
                                    <h3 class="m-0 font-weight-bold">@project.Name</h3>
                                </div>
                            </div>
                            <div class="card-body">
                                <p>@project.TagDescription</p>
                                @if (project.Images != null && project.Images.Count > 0)
                                {
                                    <div class="project-images position-relative">
                                        <img src="data:image;base64,@Convert.ToBase64String(project.Images.First())" alt="Project Image" class="img-fluid rounded mb-2" />
                                        <div class="overlay">
                                            <div class="text-white">+@(project.Images.Count - 1)</div>
                                        </div>
                                    </div>
                                }
                                <p><a href="@Url.Action("Details", new { id = project.Id })" class="btn btn-secondary">View Project</a></p>
                            </div>
                        </div>
                    }
                </section>
            }
        </main>
    </div>
</div>
